services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: airbnb_backend
    restart: always
    ports:
      - '5000:5000'
    environment:
      DATABASE_URL: mysql://root:1234@host.docker.internal:3307/db_airbnb
      JWT_SECRET: 2eb1c37fcaab62c06a12f71915512b27cf5c6ef7b1a7f23fa743e62d4b8df0c4
      JWT_EXPIRES_IN: 7d
      PORT: 5000
      NODE_ENV: development
    networks:
      - app-network
    volumes:
      - ./uploads:/app/uploads
networks:
  app-network:
    driver: bridge
